h1 {
    color: red;
    background-color: rgb(248, 183, 183);
    text-align: center;
    
}

li{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
   
}

ul {
    border: 1px solid black;
}
  
a{
    font-size: larger;
}